language: scala
sudo: false
scala:
- 2.12.11
- 2.13.1
script:
- sbt scalafmtCheck scalafmtSbtCheck test:scalafmtCheck "++ ${TRAVIS_SCALA_VERSION}!" scalapropsMagnoliaJVM/test scalapropsMagnoliaJS/test
jdk:
- openjdk8
- openjdk11
cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/launchers"
before_cache:
- find $HOME/.ivy2/cache -name "ivydata-*.properties" | xargs rm
- find $HOME/.ivy2/cache -name "*SNAPSHOT*" | xargs rm -rf
